<br><h3>Accesorios</h3>
<div class="container">
    <div class="ropa-container">
        @for(producto of showProds; track $index){
            <div class="ropa-card" (click)="verDetalle(producto._id)" style="cursor: pointer;">
                <img class="img-default" [src]="producto.imagesUrl[0]" [alt]="producto.name">
                <img class="img-hover" [src]="producto.imagesUrl[0]" [alt]="producto.name">
                    
                <div class="card-content">
                    <p class="nombre">{{ producto.name }}</p>
                    <hr>
                    <p class="precio">Precio: $ <span>{{ producto.price }}</span></p>
                    <p class="stock">Stock: {{ producto.stock }}</p>
                    
                    <div class="mas_menos">
                        @if (auth.isLogged()) {
                            <button 
                                class="btn btn-outline-dark" 
                                [disabled]="!hasStock(producto)"
                                (click)="agregarAlCarrito(producto); $event.stopPropagation()">
                                <i class="fas fa-shopping-cart"></i>
                                {{ hasStock(producto) ? 'Agregar al carrito' : 'Sin stock' }}
                            </button>
                        } @else {
                            <div class="alert alert-info">
                                <a routerLink="/login" (click)="$event.stopPropagation()">Inicia sesión</a> para agregar productos al carrito
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>


