h3{
    margin-left: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(162, 56, 3);
}
.container{
    margin-bottom: 20px;
    width: 50%;
}
.card_pedido{
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
span{
    color: darkblue;
    font-weight: bold;
}
