<h3>TEMPORADAS</h3>
<div class="temporadas">
    <div class="tempo">
        <a [routerLink]="['/reporte-temporada', 'primavera']"><img src="/primavera.png" width="245" height="245" /></a>
        <p [routerLink]="['/reporte-temporada', 'primavera']">Primavera</p>
    </div>
    <div class="tempo">
        <a [routerLink]="['/reporte-temporada', 'verano']"><img src="/verano.png" width="250" height="250" /></a>
        <p [routerLink]="['/reporte-temporada', 'verano']">Verano</p>
    </div>
    <div class="tempo">
        <a [routerLink]="['/reporte-temporada', 'otoño']"><img src="/otono.png" width="270" height="270" /></a>
        <p [routerLink]="['/reporte-temporada', 'otoño']">Otoño</p>
    </div>
    <div class="tempo">
        <a [routerLink]="['/reporte-temporada', 'invierno']"><img src="/invierno.png" width="250" height="250" /></a>
        <p [routerLink]="['/reporte-temporada', 'invierno']">Invierno</p>
    </div>
</div>
