<div class="cont_nos nos">
    <div class="slogan">
        <h4><span>Nadia & Gustavo Clothing &#174; </span>, Hacemos lo que amamos con el alma en cada prenda. Diseñamos experiencias, Fabricamos estilo.</h4>
    </div>
    <div>
        <!-- carrusel nosotros -->
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade carrusel-nos" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="/img_nos_m.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                         
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/img_nos_h.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                            
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/img_nos_k.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                           
                </div>
              </div>
              
            </div>
    </div>

        <!-- fin carrusel -->
        
          </div>
    </div>




    
