.container {
    width: 100%;
    min-height: 100vh;
    padding: 30px;
  }


  .ropa-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    
  }

  .ropa-card {
    text-align: center;
    position: relative;
    width: 250px;
    margin: 1rem;
    cursor: pointer;
     
  }

  .ropa-card img {
    width: 100%;
  display: block;
  transition: opacity 0.4s ease;
  border-radius: 8px;
  }

  .img-default {
    position: relative;
    z-index: 1;
  }
  .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
  }
  .ropa-card img:hover {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    
    
  }
  .card-content {
    margin-top: 10px;
  }
  .nombre {
    font-size: 16px;
    font-weight: bold;
  }

.precio {
    font-size: 14px;
    color: #666;
  }
  span{
    font-weight: bold;
}

  /* transision de las imagenes */
  .ropa-card:hover .img-hover {
    opacity: 1;
  }
  .ropa-card:hover .img-default {
    opacity: 0;
  }
  h3{
    margin-left: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(162, 56, 3);
}
.btn_tmporada{
    text-align: center;
}

