h3{
    margin-left: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(162, 56, 3);
}
.container{
    margin-bottom: 20px;
    width: 50%;
}
h4{
    text-align: center;
    font-size: 25px;
}
.btn_check{
    text-align: center;
}
::placeholder {
    color: #dad6d6;
    opacity: 1; /* Asegura que el color se aplique correctamente en todos los navegadores */
    font-style: italic;
  }
