<h4>CLIENTES SATISFECHOS</h4>
<div class="videos">    
    
    <video width="490" height="265" autoplay loop muted playsinline><source src="/video_ropaNG.mp4" type="video/mp4">Tu navegador no soporta la reproducción de video.      </video>
    <video width="490" height="265" autoplay loop muted playsinline><source src="/video_shoppingNG.mp4" type="video/mp4">Tu navegador no soporta la reproducción de video.      </video>
    <video width="490" height="265" autoplay loop muted playsinline><source src="/video_wearingNG.mp4" type="video/mp4">Tu navegador no soporta la reproducción de video.      </video>
    
</div>


<h3>OFERTAS Y DESCUENTOS!!</h3>
<div class="ofertas">
    
    <div class="ofe_cards">
        <div>
            <div class="card" style="width: 15rem;">
                <img src="/oferta1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Blusa England Roja.</p><hr>
                  <p class="card-text"><s> $ 760.00 </s></p>
                  <p class="card-text precio_of">$ 510.00</p>
                </div>
              </div>
        </div>
        <div>
            <div class="card" style="width: 15rem;">
                <img src="/oferta2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Sudadera Loose Fit.</p><hr>
                    <p class="card-text"><s> $ 520.00 </s></p>
                    <p class="card-text precio_of">$ 330.00</p>
                </div>
              </div>
        </div>
        <div>
            <div class="card" style="width: 15rem;">
                <img src="/oferta3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Conjunto Sailor Rayas</p><hr>
                    <p class="card-text"><s> $ 1050.00 </s></p>
                    <p class="card-text precio_of">$ 905.00</p>
                </div>
              </div>
        </div>
        <div>
            <div class="card" style="width: 15rem;">
                <img src="/oferta4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Bermuda Jeans Sky.</p><hr>
                    <p class="card-text"><s> $ 460.00 </s></p>
                    <p class="card-text precio_of">$ 300.00</p>
                </div>
              </div>
        </div>
        
    </div>
    <div>
        <div>
            <img src="/descuento.jpg" class="descuento" alt="...">                
          </div>
    </div>
</div>
<hr>

<br>

