<div class="footer_cont">
    <div class="pagos">
        <img src="/compra_segura.png" class="pago_img">
        <img src="/envio_seguro.png" class="pago_img">
        <img src="/pago_seguro.png" class="pago_img">
        <img src="/pagos.png" class="payment">
    </div>
    <div class="footer_links">
        <div>
            <p>Colecciones</p>
                <ul>
                    <li><a routerLink="/mujeres">Mujeres</a></li>
                    <li><a routerLink="/hombres">Hombres</a></li>
                    <li><a routerLink="/kids">Kids</a></li>
                    <li><a routerLink="/accesorios">Accesorios</a></li>
                </ul>
        </div>
        <div>
            <p>Temporadas</p>
                <ul>
                    <li><a [routerLink]="['/reporte-temporada', 'primavera']">Primavera</a></li>
                    <li><a [routerLink]="['/reporte-temporada', 'verano']">Verano</a></li>
                    <li><a [routerLink]="['/reporte-temporada', 'otoño']">Otoño</a></li>
                    <li><a [routerLink]="['/reporte-temporada', 'invierno']">Invierno</a></li>
                </ul>
        </div>
        <div>
            <p>Atención a clientes</p>
                <ul>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Preguntas Frecuentes</a></li>
                    <li><a href="">Guia de Tallas</a></li>
                    <li><a href="">Términos y Condiciones</a></li>
                </ul>
        </div>
        <div class="redes">
            <p>Redes Sociales</p>
                <ul>
                    <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
        </div>
    </div><!-- footer_links -->
</div> <!-- footer_cont -->
