.logo{
    width: 180px;
    margin-right: 50px;
    margin-bottom: -15px;
    margin-top: -8px;
}
li{
    font-weight: bold;
    font-size: 18px;
}
li:hover{
    background-color: rgb(244, 238, 232);
    border-radius: 8px;
}
nav{
    padding: 0px;
}
.iconos i{
    margin-right: 25px;
    font-size: 25px;
}


/* buscador */
.search-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .search-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
  }
  
  .search-content input {
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  /* numero del carrito */
  .badge-custom {
    top: 105%;
    left: 32%;
    transform: translate(-50%, -50%);
  }

  /* menu fijo */

.menu-fijo{
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}
.buscar{
    width: 175px;
}