

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        
        <a routerLink="/mujeres">
          <img src="/coleccion_mujer.jpg" class="d-block w-100">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3 routerLink="/mujeres">COLECCIÓN MUJERES</h3>          
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/hombres">
          <img src="/coleccion_hombre.jpg" class="d-block w-100">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3 routerLink="/hombres">COLECCIÓN HOMBRES</h3>          
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/kids">
          <img src="/coleccion_kids.jpg" class="d-block w-100">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3 routerLink="/kids">COLECCIÓN KIDS</h3>          
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <a routerLink="/accesorios">
          <img src="/coleccion_accesorios.jpg" class="d-block w-100">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h3 routerLink="/accesorios">COLECCIÓN ACCESORIOS</h3>          
        </div>
      </div>
    </div>
  </div>